<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link rel="stylesheet" href="./css/home.css"-->
    <link rel="stylesheet" href="./css/home.css">
    <title><%=title%></title>
</head>
<body>
    <div
     id="header"><%-include('_header')%>
     
    </div>  
    <div id="main">
    
    <%  if(locals.user){%>
    <section id="post-feeds">
        <h2>
            MY POSTS
        </h2>
        <form action="/post/create-post" method="POST" id="new-post-form">
            
            <textarea name="content" rows="30" cols="60" placeholder="TYPE HERE........."></textarea>
            <input type='submit' name="post" >
        </form>

    </section>
    <section id="showing-feed">
        <ul>
<%for(let i of list){%>
    <div id="li-container" >
<li>
    <div>
    <%= i.content%>
    </div>
    <div>
    <% if (i.user) { %>
        <%= i.user.name %>
      <% } else { %>
        User not found for this post.
      <% } %>
    </div>
    
      <!---------------------------->
      <% if(locals.user){ %>
        <div id="comment" >comment</div>
      <div id="form">
      <form action="/post/comment" method="POST" id="new-comment-form">
            
        <input id="comm-pos" type="text" placeholder="Add commnets" name ="comment" >
        <input name="post_id" type="hidden" value="<%=i._id%>">
        <input  id="comm-but" type="submit" name="addcomment" value="head" style="background-color: aqua; z-index: 10;">
    </form>
</div>
    <%}%>
      <!---------------------------->
</li>
</div>
<%}%>
</ul>
    </section>
<%}%>

        
</div>
<div id="footer">
<%-include('_footer')%>
</div>

</body>
</html>