<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link rel="stylesheet" href="./css/home.css"-->
    <link rel="stylesheet" href="./css/home.css">
    <title><%=title%></title>
</head>
<body>
    <div
     id="header"><%-include('_header')%>
     
    </div>  
    <div id="main">
    

        <!------locals .user is liye check kiya kyunki jo login nhi h unko feeds nhi dikhani------>
    <%  if(locals.user){%>
    <section id="post-feeds">
        <h2>
            MY POSTS
        </h2>
        <form action="/post/create-post" method="POST" id="new-post-form">
            
            <textarea name="content" rows="30" cols="60" placeholder="TYPE HERE........."></textarea>
            <input type='submit' name="post" >
        </form>

    </section>
    <section id="showing-feed">
        <ul>

            <!--------DISPLAYING POSTS--------->
<%for(let post of post_lists){%>
    <div id="li-container" >
<li>

    <!--------Showing delete to only creator of post------->
   <% if(post.user.id==locals.user.id){%>
<a href="/post/deletePost/<%=post.id%>">X</a>
    <%}%>



    <!-- //instead of ._id we use id to convert both to string so to compare easily  -->
   
    <!------Name of post creator-->
    <div id="post-creator">
        <% if (post.user) { %>
            <%= post.user.name %>
          <% } else { %>
            User not found for this post.
          <% } %>
        </div>


        <!------content inside the post----->
    <div id="post-content">
    <%= post.content%>
    </div>
    
    
      <!----------creating the comment------------------>
      <% if(locals.user){ %>
        <!-- <div id="comment" >comment</div> -->
      <div id="form">
      <form action="/post/comment" method="POST" id="new-comment-form">
            
        <input id="comm-pos" type="text" placeholder="Add commnets" name ="comment" >
        <input name="post_id" type="hidden" value="<%=post._id%>">
        <input  id="comm-but" type="submit" name="addcomment" value="ADD" style="background-color: aqua; z-index: 10;">
    </form>
</div>
    <%}%>


      <!---------displaying the comments------------------->
      <div id="comments">
        <ul>
           <% for(let comment  of post.comments){%>
<li style="list-style: none;">
    <div id="each-comment">
        <div id="comment-user">
        <%=comment.user.name%> 
    </div>
        <div id="comment-content">
            <%=comment.content%> 
        </div>
           
        <% if(comment.user.id==locals.user.id){%>
            <a href="/post/deleteComment/<%=comment.id%>">Y</a>
            
                <%}%>
       

    </div>

</li>


            <%}%>
        </ul>
      </div>
      <!-------------------------------->
</li>
</div>
<%}%>
</ul>
    </section>

    <!-------------------FRIENDS LIST--------->
    <section id="friends">
        <h1 style="font-size:4vh;font-weight: 800;font-family:cursive;">MY FRIENDS</h1>
        <div id="friends-list">
            <ul>
<%for( const post of post_lists){%>
    <li>
    <a href="/profile/idofthatuser"><%=post.user.name%></a>
</li>
<%}%>
</ul>
        </div>

    </section>
<%}%>

        
</div>
<div id="footer">
<%-include('_footer')%>
</div>

</body>
</html>
